/* Footer */
/*-----------------------------------------------*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: #FEFEFE;
    text-align: center;
}

.footer > p {
  margin: 0.5em 0;
}
/*-----------------------------------------------*/



/* Media Query */
/*-----------------------------------------------*/
@media screen and (max-width: 620px) {
  .navbar-brand-hide { display: none; }
}
/*-----------------------------------------------*/
